<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1491</integer>
    <key>copyright</key>
    <string>Typeface © The Monotype Corporation plc. Data © The Monotype Corporation plc/Type Solutions Inc. 1990-1992. All Rights Reserved</string>
    <key>descender</key>
    <integer>-431</integer>
    <key>familyName</key>
    <string>Arial</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>1</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>8</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>17</integer>
      </dict>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>1990/08/06 13:54:50</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>11</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>9</integer>
    <key>openTypeHheaAscender</key>
    <integer>1854</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-434</integer>
    <key>openTypeHheaLineGap</key>
    <integer>67</integer>
    <key>openTypeNameDescription</key>
    <string>Contemporary sans serif design, Arial contains more humanist characteristics than many of its predecessors and as such is more in tune with the mood of the last decades of the twentieth century.  The overall treatment of curves is softer and fuller than in most industrial style sans serif faces.  Terminal strokes are cut on the diagonal which helps to give the face a less mechanical appearance.  Arial is an extremely versatile family of typefaces which can be used with equal success for text setting in reports, presentations, magazines etc, and for display use in newspapers, advertising and promotions.</string>
    <key>openTypeNameDesigner</key>
    <string>Monotype Type Drawing Office - Robin Nicholas, Patricia Saunders 1982</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.monotype.com/html/mtname/ms_welcome.html</string>
    <key>openTypeNameLicense</key>
    <string>NOTIFICATION OF LICENSE AGREEMENT&#13;
&#13;
This typeface is the property of Monotype Typography and its use by you is covered under the terms of a license agreement. You have obtained this typeface software either directly from Monotype or together with software distributed by one of Monotype's licensees.&#13;
&#13;
This software is a valuable asset of Monotype. Unless you have entered into a specific license agreement granting you additional rights, your use of this software is limited to your workstation for your own publishing use. You may not copy or distribute this software.&#13;
&#13;
If you have any question concerning your rights you should review the license agreement you received with the software or contact Monotype for a copy of the license agreement.&#13;
&#13;
Monotype can be contacted at:&#13;
&#13;
USA - (847) 718-0400		UK - 01144 01737 765959&#13;
http://www.monotype.com</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://www.monotype.com/html/type/license.html</string>
    <key>openTypeNameManufacturer</key>
    <string>Monotype Typography</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.monotype.com/html/mtname/ms_arial.html</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Typeface © The Monotype Corporation plc. Data © The Monotype Corporation plc/Type Solutions Inc. 1990-1992. All Rights Reserved</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Typeface © The Monotype Corporation plc. Data © The Monotype Corporation plc/Type Solutions Inc. 1990-1992. All Rights Reserved</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Typeface © The Monotype Corporation plc. Data © The Monotype Corporation plc/Type Solutions Inc. 1990-1992. All Rights Reserved</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1027</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1029</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>obyčejné</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1030</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1031</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Standard</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1032</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Κανονικά</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1034</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1035</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normaali</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1036</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1038</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normál</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1040</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normale</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1043</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Standaard</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1044</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1045</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normalny</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1046</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1049</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Обычный</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1051</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normálne</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1053</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1055</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1060</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Navadno</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1066</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>thường</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1069</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Arrunta</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2058</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>2070</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>3082</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>3084</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Normal</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Monotype:Arial Regular:Version 3.00 (Microsoft)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Monotype:Arial Regular:Version 3.00 (Microsoft)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Monotype:Arial Regular:Version 3.00 (Microsoft)</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Arial</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Version 3.00</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Version 3.00</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Version 3.00</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>ArialMT</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>ArialMT</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>ArialMT</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Arial® Trademark of The Monotype Corporation plc registered in the US Pat &amp; TM Off. and elsewhere.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Arial® Trademark of The Monotype Corporation plc registered in the US Pat &amp; TM Off. and elsewhere.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>7</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Arial® Trademark of The Monotype Corporation plc registered in the US Pat &amp; TM Off. and elsewhere.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Monotype Typography</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Monotype Typography</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Monotype Typography</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Monotype Type Drawing Office - Robin Nicholas, Patricia Saunders 1982</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Monotype Type Drawing Office - Robin Nicholas, Patricia Saunders 1982</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>9</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Monotype Type Drawing Office - Robin Nicholas, Patricia Saunders 1982</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Contemporary sans serif design, Arial contains more humanist characteristics than many of its predecessors and as such is more in tune with the mood of the last decades of the twentieth century.  The overall treatment of curves is softer and fuller than in most industrial style sans serif faces.  Terminal strokes are cut on the diagonal which helps to give the face a less mechanical appearance.  Arial is an extremely versatile family of typefaces which can be used with equal success for text setting in reports, presentations, magazines etc, and for display use in newspapers, advertising and promotions.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>Contemporary sans serif design, Arial contains more humanist characteristics than many of its predecessors and as such is more in tune with the mood of the last decades of the twentieth century.  The overall treatment of curves is softer and fuller than in most industrial style sans serif faces.  Terminal strokes are cut on the diagonal which helps to give the face a less mechanical appearance.  Arial is an extremely versatile family of typefaces which can be used with equal success for text setting in reports, presentations, magazines etc, and for display use in newspapers, advertising and promotions.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>10</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Contemporary sans serif design, Arial contains more humanist characteristics than many of its predecessors and as such is more in tune with the mood of the last decades of the twentieth century.  The overall treatment of curves is softer and fuller than in most industrial style sans serif faces.  Terminal strokes are cut on the diagonal which helps to give the face a less mechanical appearance.  Arial is an extremely versatile family of typefaces which can be used with equal success for text setting in reports, presentations, magazines etc, and for display use in newspapers, advertising and promotions.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_arial.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_arial.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_arial.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_welcome.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_welcome.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/mtname/ms_welcome.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>NOTIFICATION OF LICENSE AGREEMENT&#13;
&#13;
This typeface is the property of Monotype Typography and its use by you is covered under the terms of a license agreement. You have obtained this typeface software either directly from Monotype or together with software distributed by one of Monotype's licensees.&#13;
&#13;
This software is a valuable asset of Monotype. Unless you have entered into a specific license agreement granting you additional rights, your use of this software is limited to your workstation for your own publishing use. You may not copy or distribute this software.&#13;
&#13;
If you have any question concerning your rights you should review the license agreement you received with the software or contact Monotype for a copy of the license agreement.&#13;
&#13;
Monotype can be contacted at:&#13;
&#13;
USA - (847) 718-0400		UK - 01144 01737 765959&#13;
http://www.monotype.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>NOTIFICATION OF LICENSE AGREEMENT&#13;
&#13;
This typeface is the property of Monotype Typography and its use by you is covered under the terms of a license agreement. You have obtained this typeface software either directly from Monotype or together with software distributed by one of Monotype's licensees.&#13;
&#13;
This software is a valuable asset of Monotype. Unless you have entered into a specific license agreement granting you additional rights, your use of this software is limited to your workstation for your own publishing use. You may not copy or distribute this software.&#13;
&#13;
If you have any question concerning your rights you should review the license agreement you received with the software or contact Monotype for a copy of the license agreement.&#13;
&#13;
Monotype can be contacted at:&#13;
&#13;
USA - (847) 718-0400		UK - 01144 01737 765959&#13;
http://www.monotype.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>NOTIFICATION OF LICENSE AGREEMENT&#13;
&#13;
This typeface is the property of Monotype Typography and its use by you is covered under the terms of a license agreement. You have obtained this typeface software either directly from Monotype or together with software distributed by one of Monotype's licensees.&#13;
&#13;
This software is a valuable asset of Monotype. Unless you have entered into a specific license agreement granting you additional rights, your use of this software is limited to your workstation for your own publishing use. You may not copy or distribute this software.&#13;
&#13;
If you have any question concerning your rights you should review the license agreement you received with the software or contact Monotype for a copy of the license agreement.&#13;
&#13;
Monotype can be contacted at:&#13;
&#13;
USA - (847) 718-0400		UK - 01144 01737 765959&#13;
http://www.monotype.com</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/type/license.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>0</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>1</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/type/license.html</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://www.monotype.com/html/type/license.html</string>
      </dict>
    </array>
    <key>openTypeNameUniqueID</key>
    <string>Monotype:Arial Regular:Version 3.00 (Microsoft)</string>
    <key>openTypeNameVersion</key>
    <string>Version 3.00</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>4</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>30</integer>
      <integer>48</integer>
      <integer>49</integer>
      <integer>50</integer>
      <integer>51</integer>
      <integer>52</integer>
      <integer>53</integer>
      <integer>54</integer>
      <integer>55</integer>
      <integer>56</integer>
      <integer>57</integer>
      <integer>58</integer>
      <integer>59</integer>
      <integer>60</integer>
      <integer>61</integer>
      <integer>62</integer>
      <integer>63</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>6</integer>
      <integer>4</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>2</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>530</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>102</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>283</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1434</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>977</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1331</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1491</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-431</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>307</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>7</integer>
      <integer>9</integer>
      <integer>11</integer>
      <integer>12</integer>
      <integer>13</integer>
      <integer>14</integer>
      <integer>63</integer>
      <integer>67</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>Mono</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1854</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>434</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-217</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>150</integer>
    <key>styleMapFamilyName</key>
    <string>Arial</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Arial® Trademark of The Monotype Corporation plc registered in the US Pat &amp; TM Off. and elsewhere.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
  </dict>
</plist>
